* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: white;
    
}

#logo {
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 5px;
}

#title {
    text-align: center;
    padding: 50px;
}

.centered-object {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
}

.play-button {
    font-weight: 100;
}

.progress-align {
    position: absolute;
    width: 850px;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);

} 

#progressBar {
    width: 0%;
}

#slider {
    /* -webkit-appearance: none; */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



.dark-theme {
    background-color: 	#181818;
    color: white;
}

.bg-dark-custom {
    background-color: #212121 !important;
}

#themeIcon {
    background-color: transparent;
    border: none;
}

.input-mysize {
    /* width: 50%; */
    margin-left: 13%;
    
}

#searchBar:invalid {

}



#sidebar {
    position: fixed;
    right: -350px;
    width: 350px;
    height: 100%;
    background: #ebe7e7;
    z-index: 1;
    transition: all 100ms linear;

}

#sidebar.active {
    right: 0%;
}

#sidebar #toggle-button {
    position: absolute;
    right: 400px;
    top: 20px;
}

.input-group-custom {
    position: fixed;
    bottom: 0px;
}

.message-custom {
    padding: 10px;
    border-bottom: #d3d3d3;
}